.week {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
}

.day {
  margin-top: 15px;
  margin: 0 auto;
  width: 10vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
}

.dayContent {
  position: relative;
  width: 60px;
  height: 40px;
}
