* {
  margin: 0;
}

.bigContainer {
  line-height: 3.5em;
  text-align: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.bigContainerContent {
  height: 70vh;
  width: 70vw;
}

.inputBox {
  width: 400px;
}

.hidden {
  display: none;
}

.signUpBox {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.signUpBoxContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 40vh;
  width: 40vw;
  background-color: white;
}

.logInBoxDisplay {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.logInBoxContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 40vh;
  width: 40vw;
  background-color: white;
}

.animationContainer {
  margin-top: 45%;
  text-align: center;
  margin: 0 auto;
}

.soundsLike {

}

.quoteBox {
  display: block;
  height: 10vh;
  background-color: gray;
}


