* {
  margin: 0;
}

.bigContainer {
  background-image: url(./Challenge/flowers.jpg);
  line-height: 3.5em;
  text-align: center;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.bigContainerContent {
  background-color: rgba(255, 255, 255, 0.3);
  height: 80vh;
  width: 80vw;
}

.inputBox {
  width: 400px;
}

.hidden {
  display: none;
}

.signUpBox {

  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(158, 3, 76);
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.signUpBoxContent {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 40vh;
  width: 40vw;
  background-color: white;
}

.logInBoxDisplay {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(158, 3, 76);
  z-index: 5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.logInBoxContent {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 40vh;
  width: 40vw;
  background-color: white;
}

.animationContainer {
  margin-top: 45%;
  text-align: center;
  margin: 0 auto;
}

.quoteBox {
  border-radius: 15px;
  color: #f2f2f2;
  padding: 10px;
  padding-top: 25px;
  font-size: 1.2em;
  line-height: 1.2em;
  position: relative;
  height: 15vh;
  width: 100%;
  background-color: #00A5CF;
  bottom: 0;
}

.closeChallengeBtn {
  visibility: visible;
}

.buttons {
  color: #f2f2f2;
  margin-bottom: 15px;
  margin: 10px;
  height: 40px;
  width: 68px;
  border-radius: 10px;
  background-color: #439A86;
}

